<main class="login-form">
  <header>
    <h2>Snaplearn</h2>
  </header>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="mb-8">Log in</h1>

    <%= render "devise/shared/error_messages", resource: resource %>
    
    <section class="input-group">
      <div class="flex flex-col gap-3">
        <%= f.label :email, class: "text-base font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "flex h-12 w-full rounded-md border border-input bg-input-background px-4 py-3 text-base ring-offset-background file:border-0 file:bg-transparent file:text-base file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 top-level-input" %>
      </div>

      <div class="flex flex-col gap-3">
        <%= f.label :password, class: "text-base font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "flex h-12 w-full rounded-md border border-input bg-input-background px-4 py-3 text-base ring-offset-background file:border-0 file:bg-transparent file:text-base file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 top-level-input" %>
      </div>

      

      <% if devise_mapping.rememberable? %>
        <div class="items-center flex gap-2">
          <%= f.check_box :remember_me, class: "peer h-4 w-4 shrink-0 rounded-sm border border-primary ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground" %>
          <%= f.label :remember_me, class: "cursor-pointer text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" %>
        </div>
      <% end %>
    </section>

    <%= button_tag(type: 'submit', class: "mt-8 w-full inline-flex items-center justify-center whitespace-nowrap rounded-md text-base font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-12 px-4 py-3") do %>
      Log in
    <% end %>
  <% end %>

  <div class="flex justify-center items-center"><%= render "devise/shared/links" %></div>
  
</main>
