<!DOCTYPE html>
<html>
  <head>
    <title>Snaplearn Dashboard</title>
    <meta content="initial-scale = 1.0, width = device-width" name="viewport">
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'dashboard-bundle' %>
    <%= stylesheet_link_tag 'application' %>
    <link rel="prefetch" href="/courses" as="document">
  </head>

  <body class="sidebar-nav">
    <%= react_component("SidebarNav", props: { items: @navbar_items, title: @navbar_title, userInfo: @user_info }, prerender: true, html_options: { class: "react-rendered-component" }) %>
    <%= yield %>
  </body>
</html>
